* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a1128;
    color: #1282a2;
}

header {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #001f54;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    font-weight: bold;
    color: #1282a2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #1282a2;
    color: #034078;
}

ul li a:active {
    background-color: #034078;
    color: #1282a2;
}